
@charset "utf-8";
/* CSS Document */
button {
 background-color: #020202;
 color: #b5e853 ;
}

button:hover {
 background-color: #b5e853;
 color: #020202;
}

p {
  width: -webkit-fill-available;
}

form {
  width: 100%;
}

input {
 background-color: #020202 ;
 color: #b5e853 ;
 border-radius: 0.75em;
}

input:hover {
 background-color: #b5e853;
 color: #020202;
}

input.wh, input.searchbar {
	text-indent: 0.625em;
}

input.searchbar {
  width: 70%
}

*::selection {
 background: #b5e853; /* WebKit/Blink Browsers */
 color: #020202;
}

*::-moz-selection {
background: #b5e853; /* Gecko Browsers */
color: #020202;
}

input:hover::selection {
 background: #020202; /* WebKit/Blink Browsers */
 color: #b5e853;
}

input:hover::-moz-selection {
background: #020202; /* Gecko Browsers */
color: #b5e853;
}

fieldset {
-webkit-border-radius: 0.5em;
-moz-border-radius: 0.5em;
border-radius: 0.5em;
width: min-content;
}

.TabbedPanelsTabHover::selection, a.MenuBarItemSubmenuHover::selection, a.MenuBarItemHover::selection, button:hover::selection {
 background: #020202; /* WebKit/Blink Browsers */
 color: #b5e853;
}

.TabbedPanelsTabHover::-moz-selection, a.MenuBarItemSubmenuHover, a.MenuBarItemHover, button {
 background: #020202; /* Gecko Browsers */
 color: #b5e853;
}

.highlight {
 color: #d0d0d0
}

.highlight table td {
 padding: 0.313em
}

.highlight table pre {
 margin: 0
}

.highlight .w {
 color: #d0d0d0
}

.highlight .err {
 color: #151515;
 background-color: #ac4142
}

.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs {
 color: #888
}

.highlight .cp {
 color: #f4bf75
}

.highlight .o,.highlight .ow {
 color: #f4bf75
}

.highlight .p,.highlight .pi {
 color: #d0d0d0
}

.highlight .gi {
 color: #90a959
}

.highlight .gd {
 color: #ac4142
}

.highlight .gh {
 color: #6a9fb5;
 font-weight: bold
}

.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv {
 color: #aa759f
}

.highlight .kc,.highlight .kt,.highlight .kd {
 color: #d28445
}

.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1 {
 color: #90a959
}

.highlight .sr {
 color: #75b5aa
}

.highlight .si,.highlight .se {
 color: #8f5536
}

.highlight .nt,.highlight .nn,.highlight .nc,.highlight .no {
 color: #f4bf75
}

.highlight .na {
 color: #6a9fb5
}

.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx {
 color: #90a959
}

.highlight .ss {
 color: #90a959
}

body {
 margin: 0;
 padding: 0;
 background: #151515 url("../images/bkg.png") 0 0;
 color: #eaeaea;
 font-size: 1em;
 line-height: 1.5;
 font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
}

.container {
 width: 90%;
 max-width: 62.5em;
 margin: 0 auto
}

section {
 display: block;
 margin: 0 0 1.25em 0
}

h1,h2,h3,h4,h5,h6 {
 margin: 0 0 0.25em
}

li {
 line-height: 1.4
}

header {
 background: rgba(0,0,0,0.1);
 width: 100%;
 border-bottom: 0.063em dashed #b5e853;
 padding: 1.25em 0;
 margin: 0 0 2.5em 0
}

header h1 {
 font-size: 1.875em;
 line-height: 1.5;
 margin: 0 0 0 -2.5em;
 font-weight: bold;
 font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
 color: #b5e853;
 text-shadow: 0 0.063em 0.063em rgba(0,0,0,0.1),0 0 0.313em rgba(181,232,83,0.1),0 0 0.625em rgba(181,232,83,0.1);
 letter-spacing: -0.063em;
 -webkit-font-smoothing: antialiased
}

header h1:before {
 content: "./ ";
 font-size: 1.5em
}

header h2 {
 font-size: 1.125em;
 font-weight: 300;
 color: #666
}

#downloads .btn {
 display: inline-block;
 text-align: center;
 margin: 0
}

#main_content {
 width: 100%;
 -webkit-font-smoothing: antialiased
}

section img {
 max-width: 100%
}

h1,h2,h3,h4,h5,h6 {
 font-weight: normal;
 font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
 color: #b5e853;
 letter-spacing: -0.03em;
 text-shadow: 0 0.063em 0.063em rgba(0,0,0,0.1),0 0 0.313em rgba(181,232,83,0.1),0 0 0.625em rgba(181,232,83,0.1)
}

#main_content h1 {
 font-size: 1.875em
}

#main_content h2 {
 font-size: 1.5em
}

#main_content h3 {
 font-size: 1.125em
}

#main_content h4 {
 font-size: 0.875em
}

#main_content h5 {
 font-size: 0.75em;
 text-transform: uppercase;
 margin: 0 0 0.313em 0
}

#main_content h6 {
 font-size: 0.75em;
 text-transform: uppercase;
 color: #999;
 margin: 0 0 0.313em 0
}

dt {
 font-style: italic;
 font-weight: bold
}

ul {
    position: fixed;
  	float: right;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    display: none;
}

button.dark {
    cursor: pointer;
    border-radius: 50%;
		background-color: black;
    display: none;
}

button.dark:hover {
	background-color: grey;
}

button.light {
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
		display: none;
}

button.light:hover {
	background-color: lightgrey;
}

blockquote {
 color: #aaa;
 padding-left: 0.625em;
 border-left: 0.063em dotted #666
}

pre {
 background: rgba(0,0,0,0.9);
 border: 0.063em solid rgba(255,255,255,0.15);
 padding: 0.625em;
 font-size: 1em;
 color: #b5e853;
 border-radius: 0.125em;
 word-wrap: normal;
 overflow: auto;
 overflow-y: hidden
}

code.highlighter-rouge {
 background: rgba(0,0,0,0.9);
 border: 0.063em solid rgba(255,255,255,0.15);
 padding: 0em 0.188em;
 margin: 0em -0.188em;
 color: #aa759f;
 border-radius: 0.125em
}

table {
 width: 100%;
 margin: 0 0 1.25em 0
}

th {
 text-align: left;
 border-bottom: 0.063em dashed #b5e853;
 padding: 0.313em 0.625em
}

td {
 padding: 0.313em 0.625em
}

hr {
 height: 0;
 border: 0;
 border-bottom: 0.063em dashed #b5e853;
 color: #b5e853
}

.btn {
 display: inline-block;
 background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
 padding: 0.5em 1.125em;
 border-radius: 3.125em;
 border: 0.125em solid rgba(0,0,0,0.7);
 border-bottom: 0.125em solid rgba(0,0,0,0.7);
 border-top: 0.125em solid #000;
 color: rgba(255,255,255,0.8);
 font-family: Helvetica, Arial, sans-serif;
 font-weight: bold;
 font-size: 0.813em;
 text-decoration: none;
 text-shadow: 0 -0.063em 0 rgba(0,0,0,0.75);
 box-shadow: inset 0 0.063em 0 rgba(255,255,255,0.05)
}

.btn:hover {
 background: -webkit-linear-gradient(top, rgba(40,40,40,0.6), rgba(35,35,35,0.6) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.8))
}

.btn .icon {
 display: inline-block;
 width: 1em;
 height: 1em;
 margin: 0.063em 0.5em 0 0;
 float: left
}

.btn-github .icon {
 opacity: 0.6;
 background: url("../images/blacktocat.png") 0 0 no-repeat
}

a {
 color: #63c0f5;
 text-shadow: 0 0 0.313em rgba(104,182,255,0.5)
}

.cf:before,.cf:after {
 content: "";
 display: table
}

.cf:after {
 clear: both
}

.cf {
 zoom: 1
}
