
@charset "utf-8";
/* CSS Document */
button {
	background-color: #020202 ;
	color: #b5e853 ;
  width: 6.515vw;
  height: 1.611vw;
}

button:hover {
	background-color: #b5e853;
	color: #020202;
}

input {
	background-color: #020202 ;
	color: #b5e853 ;
	border-radius: 0.878vw;
	text-indent: 0.521vw;
	filter: invert(1);
}

input:hover {
	background-color: #b5e853;
	color: #020202;
}

input:focus {
  outline: none;
}

.wh {
	width: 10.761vw;
	height: 1.611vw;
	font-size: 0.952vw;
}

.searchbar {
	width: 17.350vw;
	height: 1.611vw;
	font-size: 0.952vw;
}

.searchbutton {
	height: 1.464vw;
	font-size: 0.952vw;
}

*::selection {
	background: #4a17ac; /* WebKit/Blink Browsers */
	color: white;
}

input::selection {
	background: #b5e853; /* WebKit/Blink Browsers */
	color: #020202;
}

input::-moz-selection {
	background: #b5e853; /* WebKit/Blink Browsers */
	color: #020202;
}

*::-moz-selection {
	background: #4a17ac; /* WebKit/Blink Browsers */
	color: white;
}

input:hover::selection {
	background: #020202; /* WebKit/Blink Browsers */
	color: #b5e853;
}

input:hover::-moz-selection {
 background: #020202; /* Gecko Browsers */
 color: #b5e853;
}

fieldset {
-webkit-border-radius: 0.586vw;
-moz-border-radius: 0.586vw;
border-radius: 0.586vw;
width: min-content;
}

.TabbedPanelsTabHover::selection, a.MenuBarItemSubmenuHover::selection, a.MenuBarItemHover::selection, button:hover::selection {
  background: #020202; /* WebKit/Blink Browsers */
  color: #b5e853;
}

.TabbedPanelsTabHover::-moz-selection, a.MenuBarItemSubmenuHover, a.MenuBarItemHover, button {
  background: #020202; /* Gecko Browsers */
  color: #b5e853;
}

.highlight {
	color: #d0d0d0
}

.highlight table td {
	padding: 0.366vw
}

.highlight table pre {
	margin: 0
}

.highlight .w {
	color: #d0d0d0
}

.highlight .err {
	color: #151515;
	background-color: #ac4142
}

.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs {
	color: #888
}

.highlight .cp {
	color: #f4bf75
}

.highlight .o,.highlight .ow {
	color: #f4bf75
}

.highlight .p,.highlight .pi {
	color: #d0d0d0
}

.highlight .gi {
	color: #90a959
}

.highlight .gd {
	color: #ac4142
}

.highlight .gh {
	color: #6a9fb5;
	font-weight: bold
}

.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv {
	color: #aa759f
}

.highlight .kc,.highlight .kt,.highlight .kd {
	color: #d28445
}

.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1 {
	color: #90a959
}

.highlight .sr {
	color: #75b5aa
}

.highlight .si,.highlight .se {
	color: #8f5536
}

.highlight .nt,.highlight .nn,.highlight .nc,.highlight .no {
	color: #f4bf75
}

.highlight .na {
	color: #6a9fb5
}

.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx {
	color: #90a959
}

.highlight .ss {
	color: #90a959
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
	font-size: 1.171vw;
	line-height: 1.5;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
}

.container {
	width: 90%;
	max-width: 73.206vw;
	margin: 0 auto
}

section {
	display: block;
	margin: 0 0 1.464vw 0
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 1.464vw
}

li {
	line-height: 1.4
}

header {
	background: rgba(0,0,0,0.1);
	width: 100%;
	border-bottom: 0.073vw dashed #b5e853;
	padding: 1.464vw 0;
	margin: 0 0 2.928vw 0
}

header h1 {
	font-size: 2.196vw;
	line-height: 1.5;
	margin: 0 0 0 -2.928vw;
	font-weight: bold;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: #b5e853;
	text-shadow: 0 0.073vw 0.073vw rgba(0,0,0,0.1),0 0 0.366vw rgba(181,232,83,0.1),0 0 0.732vw rgba(181,232,83,0.1);
	letter-spacing: -0.073vw;
	-webkit-font-smoothing: antialiased
}

header h1:before {
	content: "./ ";
	font-size: 1.757vw
}

header h2 {
	font-size: 1.318vw;
	font-weight: 300;
	color: #666
}

#downloads .btn {
	display: inline-block;
	text-align: center;
	margin: 0
}

#main_content {
	width: 100%;
	-webkit-font-smoothing: antialiased
}

section img {
	max-width: 100%
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: #b5e853;
	letter-spacing: -0.03em;
	text-shadow: 0 0.073vw 0.073vw rgba(0,0,0,0.1),0 0 0.366vw rgba(181,232,83,0.1),0 0 0.732vw rgba(181,232,83,0.1)
}

#main_content h1 {
	font-size: 2.196vw
}

#main_content h2 {
	font-size: 1.757vw
}

#main_content h3 {
	font-size: 1.318vw
}

#main_content h4 {
	font-size: 1.025vw
}

#main_content h5 {
	font-size: 0.878vw;
	text-transform: uppercase;
	margin: 0 0 0.366vw 0
}

#main_content h6 {
	font-size: 0.878vw;
	text-transform: uppercase;
	color: #999;
	margin: 0 0 0.366vw 0
}

dt {
	font-style: italic;
	font-weight: bold
}

ul {
    position: fixed;
		float: right;
    right: 1.563vw;
    border: none;
    text-align: center;
}

button.dark {
		cursor: pointer;
		border-radius: 50%;
		width: auto;
		height: auto;
		background-color: white;
		display: none;
}

button.dark:hover {
	background-color: grey;
}

button.light {
    cursor: pointer;
    border-radius: 50%;
		width: auto;
		height: auto;
		background-color: black;
}

button.light:hover {
	background-color: lightgrey;
}

blockquote {
	color: #aaa;
	padding-left: 0.732vw;
	border-left: 0.073vw dotted #666
}

pre {
	background: rgba(0,0,0,0.9);
	border: 0.073vw solid rgba(255,255,255,0.15);
	padding: 0.732vw;
	font-size: 1.171vw;
	color: #b5e853;
	border-radius: 0.146vw;
	word-wrap: normal;
	overflow: auto;
	overflow-y: hidden
}

code.highlighter-rouge {
	background: rgba(0,0,0,0.9);
	border: 0.073vw solid rgba(255,255,255,0.15);
	padding: 0vw 0.220vw;
	margin: 0vw -0.220vw;
	color: #aa759f;
	border-radius: 0.146vw
}

table {
	width: 100%;
	margin: 0 0 1.464vw 0
}

th {
	text-align: left;
	border-bottom: 0.073vw dashed #b5e853;
	padding: 0.366vw 0.732vw
}

td {
	padding: 0.366vw 0.732vw
}

hr {
	height: 0;
	border: 0;
	border-bottom: 0.073vw dashed #b5e853;
	color: #b5e853
}

.btn {
	display: inline-block;
	background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
	padding: 0.586vw 1.318vw;
	border-radius: 3.660vw;
	border: 0.146vw solid rgba(0,0,0,0.7);
	border-bottom: 0.146vw solid rgba(0,0,0,0.7);
	border-top: 0.146vw solid #000;
	color: rgba(255,255,255,0.8);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 0.952vw;
	text-decoration: none;
	text-shadow: 0 -0.073vw 0 rgba(0,0,0,0.75);
	box-shadow: inset 0 0.073vw 0 rgba(255,255,255,0.05)
}

.btn:hover {
	background: -webkit-linear-gradient(top, rgba(40,40,40,0.6), rgba(35,35,35,0.6) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.8))
}

.btn .icon {
	display: inline-block;
	width: 1.171vw;
	height: 1.171vw;
	margin: 0.073vw 0.586vw 0 0;
	float: left
}

.btn-github .icon {
	opacity: 0.6;
	background: url("../images/blacktocat.png") 0 0 no-repeat
}

a {
	color: #4a17ac;
	text-shadow: 0 0 0.366vw rgba(104,182,255,0.5)
}

.cf:before,.cf:after {
	content: "";
	display: table
}

.cf:after {
	clear: both
}

.cf {
	zoom: 1
}
